﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/animate.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/main.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/price-range.css" rel="stylesheet" />
    <link href="~/Content/UserLayoutCSS/responsive.css" rel="stylesheet" />
    <!--chèn sliders, css-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/sliders/nivo-slider.css" rel="stylesheet" />
    <script src="~/sliders/jquery.nivo.slider.js"></script>
    <script src="~/sliders/jquery.nivo.slider.pack.js"></script>

</head>
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +84 968 672 100</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> phuongly611@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="Index"><img src="~/images/home/logo2.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="~/KhachHang/DangKy"><i class="fa fa-user"></i> Đăng ký</a></li>
                                <li><a href="~/KhachHang/DangNhap"><i class="fa fa-unlock"></i> Đăng nhập</a></li>
                                <li><a href="~/Cart/Cart"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="~/Home/Index">Trang chủ</a></li>
                                <li><a href="Introduction">Giới thiệu</a></li>
                                <li><a href="~/Items/Index">Sản phẩm</a></li>
                                <li><a href="Contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Tìm kiếm" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    <section id="sliders">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div>
                    <div id="slider" class="nivoSlider">
                        <img src="~/images/home/pic2.jpg" />
                        <img src="~/images/home/pic3.png" />
                    </div>
                    <div id="htmlcaption" class="nivo-html-caption">
                        <p> <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                @Html.Action("Category", "Home")
                @RenderBody()
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Liên hệ</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li>Cửa hàng mỹ phẩm Mint Cosmestics</li>
                                <li>GPDKKD: 01234567891 - Ngày cấp: 03/08/2018</li>
                                <li>Cơ quan cấp: Phòng Đăng kí kinh doanh Sở kế hoạch và Đầu tư thành phố Hà Nội</li>
                                <li>Địa chỉ: Số 19 - Duy Tân - Cầu Giấy - Hà Nội</li>
                                <li><i class="fa fa-phone"></i> +84 968 672 100</li>
                                <li><a href="#"><i class="fa fa-envelope"></i> phuongly611@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Mint Cosmestics</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Chính sách</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Hướng dẫn thanh toán</a></li>
                                <li><a href="#">Cách thức giao hàng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2019 Mint Cosmetics Inc. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer><!--/Footer-->

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#slider').nivoSlider({
                controlNav: false,
                nextText: '',
                prevText: ''
            });
        });
    </script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
