﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>Blank</title>
    <meta name="description" content="Flatter - Flat Admin Theme">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/Admin/Assets/image/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/Admin/Assets/image/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/Admin/Assets/image/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Assets/image/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="~/Areas/Admin/Assets/image/touch/apple-touch-icon.png">
     <link rel="stylesheet" href="~/Areas/Admin/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/lib/offlinejs/themes/offline-theme-dark.css">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/bootstrap-override.css">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/layout.css">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/style.css">
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/lib/jqueryui/js/jquery-ui-1.10.4.custom.min.js"></script>
</head>
<body id="body">
    <!-- Header -->
    <header class="navbar main-header">
        <a class="navbar-brand" href="~/Areas/Admin/Assets/index.html">
            flatter
        </a>
        <ul class="nav navbar-nav navbar-left sidebar-toggle-ul">
            <li class="navbar-main hidden-lg hidden-md">
                <a href="~/Areas/Admin/Assets/javascript:void(0);" id="sidebar-toggle">
                    <span class="meta">
                        <span class="icon"><i class="fa fa-bars"></i></span>
                    </span>
                </a>
            </li>
            <li class="navbar-main hidden-sm hidden-xs">
                <a href="~/Areas/Admin/Assets/javascript:void(0);" id="sidebar-collapse">
                    <span class="meta">
                        <span class="icon"><i class="fa fa-outdent"></i></span>
                    </span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            <form class="navbar-form navbar-left margintop" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search" placeholder="Search">
                </div>
            </form>
            <li class="dropdown hide-xs-mobile">
                <a href="~/Areas/Admin/Assets/#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Areas/Admin/Assets/#" id="fixed-sidebar-link">Fixed sidebar</a></li>
                    <li><a href="~/Areas/Admin/Assets/#" id="fixed-navbar-link">Fixed Navbar</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown icons-dropdown">
                <a href="~/Areas/Admin/Assets/#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i></a>
                <ul class="dropdown-menu list-group">
                    <li class="list-group-item heading"><p>Notification</p></li>
                    <a href="~/Areas/Admin/Assets/#" class="list-group-item"><i class="fa fa-user"></i> <p>John sent you friend request</p></a>
                    <a href="~/Areas/Admin/Assets/#" class="list-group-item"><i class="fa fa-envelope-o"></i> <p>Sam sent important mail</p></a>
                    <a href="~/Areas/Admin/Assets/#" class="list-group-item"><i class="fa fa-calendar"></i> <p>You have pending job</p></a>
                    <a href="~/Areas/Admin/Assets/#" class="list-group-item"><i class="fa fa-money"></i> <p>Received $1826 from client</p></a>
                </ul>
            </li>

            <li class="dropdown">
                <a href="~/Areas/Admin/Assets/#" class="dropdown-toggle" data-toggle="dropdown">John <img class="img-circle" src="~/Areas/Admin/Assets/img/avatar.png" alt="avatar" /> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Areas/Admin/Assets/#"><i class="fa fa-globe"></i> Notification <span class="label label-danger"> 5</span></a></li>
                    <li><a href="~/Areas/Admin/Assets/#"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="~/Areas/Admin/Assets/#"><i class="fa fa-gear"></i> Settings</a></li>
                    <li><a href="~/Areas/Admin/Assets/#"><i class="fa fa-share"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <div class="sidebar sidebar-left">
        <div class="content">
            <ul class="nav nav-tabs nav-justified sidetabs">
                <li class="active"><a href="~/Areas/Admin/Assets/#home" data-toggle="tab"><i class="fa fa-compass"></i> </a></li>
                <li><a href="~/Areas/Admin/Assets/#users" data-toggle="tab"><i class="fa fa-user"></i> </a></li>
                <li><a href="~/Areas/Admin/Assets/#email" data-toggle="tab"><i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <div class="tab-content sidetabs">
                <div class="tab-pane active" id="home">
                    <ul class="sidemenu">
                        <li class="sidebar-header">Home</li>
                        <li class="active">
                            <a href="~/Areas/Admin/Assets/index.html">
                                <span class="icon"><i class="fa fa-dashboard"></i></span>
                                <span class="name">Dashboard</span>
                                <span class="number pull-right"><span class="label label-primary">5</span></span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/javascript:void(0);">
                                <span class="icon"><i class="fa fa-chain"></i></span>
                                <span class="name">Elements</span>
                                <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="sidebar-dropdown">
                                <li class="sidebar-dropdown-title"><p>Elements</p></li>
                                <li><a href="~/Areas/Admin/Assets/general-elements.html">General</a></li>
                                <li><a href="~/Areas/Admin/Assets/typography-elements.html">Typography</a></li>
                                <li><a href="~/Areas/Admin/Assets/buttons-elements.html">Buttons</a></li>
                                <li><a href="~/Areas/Admin/Assets/widgets-elements.html">Widgets</a></li>
                                <li><a href="~/Areas/Admin/Assets/slider-elements.html">Slider</a></li>
                                <li><a href="~/Areas/Admin/Assets/panels-elements.html">Panels</a></li>
                                <li><a href="~/Areas/Admin/Assets/alerts-elements.html">Alerts</a></li>
                                <li><a href="~/Areas/Admin/Assets/tabs-accordions-elements.html">Tabs & Accordions</a></li>
                                <li><a href="~/Areas/Admin/Assets/modals-popover-elements.html">Modals & Popover</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/javascript:void(0);">
                                <span class="icon"><i class="fa fa-gears"></i></span>
                                <span class="name">Components</span>
                                <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="sidebar-dropdown">
                                <li class="sidebar-dropdown-title"><p>Components</p></li>
                                <li><a href="~/Areas/Admin/Assets/grids.html">Grids</a></li>
                                <li><a href="~/Areas/Admin/Assets/calendar.html">Calendar</a></li>
                                <li><a href="~/Areas/Admin/Assets/gallery.html">Gallery</a></li>
                                <li><a href="~/Areas/Admin/Assets/draggable.html">Draggable Portlet</a></li>
                                <li><a href="~/Areas/Admin/Assets/font-awesome.html">Font Awesome</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/javascript:void(0);">
                                <span class="icon"><i class="fa fa fa-tasks"></i></span>
                                <span class="name">Forms</span>
                                <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="sidebar-dropdown">
                                <li class="sidebar-dropdown-title"><p>Forms</p></li>
                                <li><a href="~/Areas/Admin/Assets/form-elements.html">Form Elements</a></li>
                                <li><a href="~/Areas/Admin/Assets/form-validation.html">Form Validation</a></li>
                                <li><a href="~/Areas/Admin/Assets/form-wizards.html">Form Wizards</a></li>
                                <li><a href="~/Areas/Admin/Assets/form-advancecomponents.html">Advance Components</a></li>
                                <li><a href="~/Areas/Admin/Assets/form-fileupload.html">File Upload</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/javascript:void(0);">
                                <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                <span class="name">Mail</span>
                                <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="sidebar-dropdown">
                                <li class="sidebar-dropdown-title"><p>Mail</p></li>
                                <li><a href="~/Areas/Admin/Assets/mail-inbox.html">Inbox</a></li>
                                <li><a href="~/Areas/Admin/Assets/mail-compose.html">Compose</a></li>
                                <li><a href="~/Areas/Admin/Assets/mail-view.html">View</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/javascript:void(0);">
                                <span class="icon"><i class="fa fa-table"></i></span>
                                <span class="name">Tables</span>
                                <span class="arrow"><i class="arrow fa fa-angle-right pull-right"></i></span>
                            </a>
                            <ul class="sidebar-dropdown">
                                <li class="sidebar-dropdown-title"><p>Tables</p></li>
                                <li><a href="~/Areas/Admin/Assets/basic-tables.html">Basic Tables</a></li>
                                <li><a href="~/Areas/Admin/Assets/data-tables.html">Data Tables</a></li>
                                <li><a href="~/Areas/Admin/Assets/editable-tables.html">Editable Tables</a></li>
                            </ul>
                        </li>
                  
                     
                    </ul>
                </div>
                <div class="tab-pane" id="users">
                    <ul class="sidemenu">
                        <li class="sidebar-header">Users</li>
                        <li class="active">
                            <a href="~/Areas/Admin/Assets/index.html">
                                <span class="icon"><i class="fa fa-home"></i></span>
                                <span class="name">Users</span>
                                <span class="number pull-right"><span class="label label-danger">5</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="email">
                    <ul class="sidemenu">
                        <li class="sidebar-header">Email</li>
                        <li>
                            <a href="~/Areas/Admin/Assets/mail-inbox.html">
                                <span class="icon"><i class="fa fa-inbox"></i></span>
                                <span class="name">Inbox</span>
                                <span class="number pull-right"><span class="label label-success">10</span></span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/mail-compose.html">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                                <span class="name">Compose</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Areas/Admin/Assets/mail-view.html">
                                <span class="icon"><i class="fa fa-file-o"></i></span>
                                <span class="name">View</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <section id="main-wrapper">
       @RenderBody()
    </section>

    <script type="text/javascript" src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/lib/customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/lib/jquery-easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/lib/offlinejs/offline.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/script.js"></script>
</body>
</html>