﻿@using WebsiteBanMyPham.Models;
@model List<Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Layout/CartLayout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Đơn giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href="@Url.Action("ItemDetail","Items", new { @Id = item.sId})"><img src="@Url.Content("~/HinhAnh/" + item.sHinhAnh)" width="100" height="100" alt="@item.sName" title="@item.sName"></a>
                            </td>
                            <td class="cart_description">
                                <h4>@item.sName</h4>
                                <p>ID: @item.sId</p>
                            </td>
                            <td class="cart_price">
                                <p>@string.Format("{0:0,0}", item.dDonGia) VNĐ</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <p>@item.iSL</p>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@string.Format("{0:0,0}", item.ThanhTien) VNĐ</p>
                            </td>
                            <td class="cart_delete" >
                                <a class="cart_quantity_delete" href="@Url.Action("XoaGioHang",new {@sId= item.sId })"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6" style="text-align:right; color:blue">
                            @Html.ActionLink("Cập nhật giỏ hàng", "UpdateCart")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align:right;">
                            @using (Html.BeginForm("DatHang", "Cart"))
                            {
                               <input type="submit" value="Đặt hàng"  class="btn btn-default add-to-cart"/>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>