﻿@using WebsiteBanMyPham.Models;
@model List<Cart>
@{
    ViewBag.Title = "UpdateCart";
    Layout = "~/Views/Layout/CartLayout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Đơn giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td class="cart_product">
                                <a href="@Url.Action("ItemDetail","Items", new { @Id = item.sId})"><img src="@Url.Content("~/HinhAnh/" + item.sHinhAnh)" width="100" height="100" alt="@item.sName" title="@item.sName"></a>
                            </td>
                            <td class="cart_description">
                                <h4>@item.sName</h4>
                                <p>ID: @item.sId</p>
                            </td>
                            <td class="cart_price">
                                <p>@string.Format("{0:0,0}", item.dDonGia) VNĐ</p>
                            </td>
                            @using (Html.BeginForm("CapNhatGioHang", "Cart", new { @sId = item.sId }))
                            {
                            <td>
                                 @Html.TextBox("txtSL", item.iSL)                                  
                            </td>

                            <td class="cart_total">
                                <p class="cart_total_price">@string.Format("{0:0,0}", item.ThanhTien) VNĐ</p>
                            </td>

                            <td>
                                <input type="submit" value="Cập nhật" class="btn btn-default add-to-cart" style="margin-top:15px"/>
                            </td>
                            }
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</section>

