﻿@using WebsiteBanMyPham.Models;
@model  List<tblCategory>

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Loại sản phẩm</h2>
        <div class="panel-group category-products" id="accordian">
            @{
                foreach (var cate in Model)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="@Url.Action("ItemCategory",new {@Id = cate.categoryId })" >@cate.name</a></h4>
                        </div>
                    </div>
                }
            }
        </div><!--/category-products-->

    </div>
</div>