﻿@using WebsiteBanMyPham.Models;
@model List<tblItem>

@{
    Layout = "~/Views/Layout/UserLayout.cshtml";
    ViewBag.Title = "Trang chủ";

}


<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Sản phẩm</h2>
        @{
            foreach (var prod in Model)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@Url.Content("~/HinhAnh/" +prod.image)" width="100" height="200" alt="@prod.name" />
                                <h2>@prod.price Đ</h2>
                                <p>@prod.name</p>
                                <a href="@Url.Action("ThemGioHang","Cart",new {@sId= prod.Id,@sUrl = Request.Url.ToString() })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                <a href="@Url.Action("ItemDetail","Items",new {@Id= prod.Id })" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div><!--features_items-->

</div>

