﻿
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<div style="margin-left:650px; margin-top:-10px">
    <h4 style="color:#FE980F">Đăng nhập</h4>
</div>

@using (Html.BeginForm())
{
    <div style="margin-left:600px;margin-top:30px">
        <span style="color:#333">Tên đăng nhập</span><br />
        @Html.TextBox("txtUsername")
        <br /> <br />
        <span>Mật khẩu</span><br/>
        @Html.Password("txtMK")
        <br /> <br />
        <input type="submit" id="btnSubmit" name="btnSubmit" value="Đăng nhập" class="btn btn-default"/>
    </div>
}

<div style="margin-left:600px; margin-top:20px">
    <h5> @ViewBag.ThongBao</h5>
</div>
