﻿@model WebsiteBanMyPham.Models.tblCustomer

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}
<div style="margin-left:650px; margin-top:-10px">
    <h4 style="color:#FE980F">Đăng ký tài khoản</h4>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left:10%">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="margin-top:40px;margin-left:30%">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

            <div class="form-group" style="margin-top:-140px;margin-left:30%">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:-80px;margin-left:30%">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:-20px;margin-left:30%">
            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:22px;margin-left:30%">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:20px;margin-left:30%">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin-left:5%; width:40%">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top:25px;margin-left:550px">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Đăng ký" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="margin-left:600px; margin-top:20px">
    <h4> @ViewBag.ThongBao</h4>
</div>