﻿@using WebsiteBanMyPham.Models;
@model tblItem

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}



            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@Url.Content("~/HinhAnh/" + Model.image)" width="70" height="180" alt="@Model.name" />
                        </div>
                    </div>
                        <div class="col-sm-7">
                            <div class="product-information">
                                <!--/product-information-->
                                <h2>@Model.name</h2>
                                <p>@Model.itemId</p>
                                <span>
                                    <span>@Model.price</span>
                                    <label>Số lượng:</label>
                                    <input type="text" value="" id="txtSL"/>
                                    <a href="@Url.Action("ThemGioHang","Cart",new {@sId= Model.Id,@sUrl = Request.Url.ToString() })" class="btn btn-default add-to-cart" style="margin-left:140px;margin-top:-34px"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </span>
                                <p><b>Dòng sản phẩm:</b> @ViewBag.name </p>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">Chi tiết</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="details">
                                <h4>@Model.name</h4>
                                <p>@Model.description</p>
                            </div>

                        </div>
                    </div><!--/category-tab-->
                </div>
